#navbar {
font-family: Roboto;
font-size: 35px;
font-weight: bold;
padding: 35px;
text-align : left;
height: 50px;
background-color: #012154;
}

#logo{
text-decoration: none;
color: white;
}

#menu1 {
font-family: Roboto;
font-size: 25px;
font-weight: normal;
padding-left: 60px;
text-align : left;
color: white;
text-decoration: none;
}

#menu2 {
font-family: Roboto;
font-size: 25px;
font-weight: normal;
padding-left: 60px;
text-align : left;
color: white;
text-decoration: none;
}

#menu3 {
font-family: Roboto;
font-size: 25px;
font-weight: normal;
padding-left: 60px;
text-align : left;
color: white;
text-decoration: none;
}

#menu4 {
font-family: Roboto;
font-size: 25px;
font-weight: normal;
padding-left: 60px;
text-align : left;
color: white;
text-decoration: none;
}

#menu5 {
font-family: Roboto;
font-size: 25px;
font-weight: normal;
padding-left: 60px;
text-align : left;
color: white;
text-decoration: none;
}

#search{
font-family: Roboto;
text-align : left;
color: black;
margin-left: 430px;
}

#p1{
text-align: center;
font-family: Roboto;
font-size: 30px;
}

